<h1>Edit this wish</h1>

<form action="/wishes/<%=current_wish.id%>" method='post'>
  <input type='hidden' name='_method' value="patch">
  <label for="name">What item do you wish to add?</label><br>        
  <input name="name" type="text" value='<%=current_wish.name%>' ><br><br>
  <label for="details">Any details for your wish?(optional)</label><br>
  <%if current_wish.details == ""%>
    <input type='text' name='details' placeholder="preferably blue"><br><br>
  <%else%>
    <input type='text' name='details' value='<%=current_wish.details%>'> <br><br>  
  <%end%>  
  <input type="submit" value="Edit">
</form>