<h1>Edit this wish</h1>

<form action=<%="/wishes/#{current_wish.id}"%> method='post'>
  <label for="name">What item do you wish to add?</label><br>        
  <input name="name" type="text" value=<%=current_wish.name%> ><br><br>
  <label for="comments">Any comments for your wish?(optional)</label><br>
  <input type='text' name='comments' placeholder="preferably blue"><br><br>

  <input type="submit" value="Edit">
</form>