<h1>Add an Item to Your Wish List</h1>
<h3>Keep in mind the budget of your friends</h3>

<form action='/wishes' method="post">                               
  <label for="name">What item do you wish to add?</label><br>        
  <input name="name" type="text"><br><br>
  <label for="details">Any details for your wish?(optional)</label><br>
  <input type='text' name='details' placeholder="preferably blue"><br><br>
  <input type="submit" value="Add a Wish">

</form>
