<h1>Users</h1>

<ul>
  <%@users.each do |user|%>
    <%unless user.username == current_user.username%>
      <li><a href="/users/<%=user.id%>"> <%=user.username%> </a></li> <br>
    <%end%>  
  <%end%>  
</ul>