<h1>Log in to see your wishes</h1>

<form action='/users/login' method="post">
  <label for="username">Enter your username</label><br>
  <input type="text" name="username"><br><br>
  <label for="password">Enter your password</label><br>
  <input type="password" name="password"><br><br>
  <input type="submit">
</form>
<br><br>
<a href="/users/signup">Create an Account</a>
