<h1>Create an Account</h1>

<form action='/users/signup' method="post">
  <label for="username">Create a username</label><br>
  <input type="text" name="username"><br><br>
  <label for="password">Create a password</label><br>
  <input type="text" name="password"><br><br>
  <input type="submit">
</form>
