<h1>Welcome to Wish Wish</h1>

<h3>A place where you can connect with friends and find out what kind of gifts they would like.<br>
Forget about having to guess what they would like and then end up dissapointed once they see your gift.</h3>

<a href='/users/login'><h3>Login</h3></a> 
<a href='/users/signup'><h3>Signup</h3></a> 